<!-- <div *ngIf="!vparcaptura">
    <app-header [title]="title" [subtitle]="subtitle" [rutaListado]="retornaRuta()"> </app-header>
</div> -->
<div class="alert alert-danger" *ngIf="enlistaerror">
    <ul>
        <li *ngFor="let regerror of listaerrores">
            {{regerror.menerror}}
        </li>
    </ul>
</div>

<div *ngIf="resultados" class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset 2">
        <form [formGroup]="tablaForm">
            <div class="form-group">
                <kendo-splitter-pane min="50%">
                    <kendo-tabstrip>
                        <kendo-tabstrip-tab [title]="'Generales'" [selected]="true">
                            <ng-template kendoTabContent>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p> <span> {{labelmodasoc}} </span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="id_tiparch" data-toggle="tooltip" title="Seleccione el tipo de archivo. Para buscar escriba código o nombre seguido de *">Tipo de archivo:</label>
                                        <netscombog (pasarDatos)="verComboTipoarch($event,'id_tiparch','id_tiparch')" valini="{{libmantab.valoriniCombog('id_tiparch',tablaForm)}}" tablabase="TIPOSARCHADJ" orden="1" filtro="*" campollave="id_tiparch" esdisabled="{{true}}">
                                        </netscombog>
                                    </div>
                                    <div class="col-md-8">
                                        <label for="descripcion" data-toggle="tooltip" title="Escriba información adicional para describir la archivosadj.">Descripción</label>
                                        <textarea type="text" class="form-control" formControlName="descripcion" placeholder="Escriba información adicional para describir la archivosadj" [UpperCase]="false" id="descripcion"></textarea>
                                    </div>
                                </div>
                            </ng-template>
                        </kendo-tabstrip-tab>
                        <kendo-tabstrip-tab [title]="'Usuario'">
                            <ng-template kendoTabContent>
                                <h3 class="divprincipal alert-muted text-center">
                                    Campos de usuario del cliente potencial
                                </h3>
                                <div *ngFor="let field of camposform">
                                    <div *ngIf="field.creado">
                                        <label *ngIf="field.type != 'checkbox' && field.per_consultar" [for]="field.name" data-toggle="tooltip" [title]="field.placeholder">{{field.label}} </label>
                                        <label *ngIf="field.type == 'checkbox' && field.per_consultar" [for]="field.name" class="form-check-label" data-toggle="tooltip" [title]="field.placeholder">{{field.label}} </label>
                                        <i class="fa fa-check-circle check" *ngIf="field.type != 'checkbox' && field.per_consultar && libmantab.conpropvalCampo(field.name,'valid',tablaForm)"></i>
                                        <i class="fa fa-exclamation-circle uncheck" *ngIf="field.type != 'checkbox' && field.per_consultar && libmantab.conpropvalCampo(field.name,'invalid',tablaForm)"></i>
                                        <input *ngIf="field.type == 'text' && field.per_consultar" [type]="field.type" class="form-control" [formControlName]="field.name" placeholder="{{field.placeholder}}" [UpperCase]="true" [id]="field.name">
                                        <textarea *ngIf="field.type == 'textarea' && field.per_consultar" rows="5" class="form-control" [formControlName]="field.name" placeholder="{{field.placeholder}}" [UpperCase]="true" [id]="field.name"></textarea>
                                        <input *ngIf="field.type == 'number' && field.per_consultar" [type]="field.type" class="form-control" [formControlName]="field.name" placeholder="{{field.placeholder}}" [id]="field.name">
                                        <input *ngIf="field.type == 'date' && field.per_consultar" [type]="field.type" class="form-control date" [formControlName]="field.name" [id]="field.name">
                                        <input *ngIf="field.type == 'checkbox' && field.per_consultar" type="checkbox" class="form-check-input" [formControlName]="field.name" [id]="field.name" [name]="field.name" checked>
                                        <netscombog *ngIf="field.type == 'solcombog' && field.per_consultar" class="solcombog" (pasarDatos)="libmantab.verCombog($event,field.name,field.combcllave,tablaForm)" valini="{{libmantab.valoriniCombog(field.name,tablaForm)}}" tablabase="{{field.combtabla}}"
                                            orden="{{field.comborden}}" filtro="*" campollave="{{field.combcllave}}" esdisabled="true">
                                        </netscombog>
                                        <netslistnum *ngIf="field.type == 'netslistnum' && field.per_consultar" class="solcombog" (pasarDatos)="libmantab.verListnum($event,field.name,field.combcllave,tablaForm)" valini="{{libmantab.valoriniListnum(field.name,tablaForm)}}" opciones="{{field.options}}"
                                            esdisabled="true">
                                        </netslistnum>
                                        <p class="alert alert-danger" *ngIf="libmantab.conpropvalCampo(field.name,'invalid',tablaForm) && 
                                  libmantab.conpropvalCampo(field.name,'touched',tablaForm)">
                                            {{field.mensaje_er}}
                                        </p>
                                    </div>
                                </div>
                            </ng-template>
                        </kendo-tabstrip-tab>
                    </kendo-tabstrip>
                </kendo-splitter-pane>
            </div>
        </form>
        <hr>
    </div>
</div>
<!-- {{tablaForm.value | json}} -->