<div class="alert alert-danger" *ngIf="enerror">
    {{message}}
</div>
<div class="alert alert-danger" *ngIf="enlistaerror">
    <ul>
        <li *ngFor="let regerror of listaerrores">
            {{regerror.menerror}}
        </li>
    </ul>
</div>
<div *ngIf="cargando" class="text-center" style="padding-top: 60px;">
    <!-- <img src="../../../../assets/spinner.gif"> -->
    <img src="assets/spinner.gif">
</div>
<!-- aqui ventanas modal para la adicion de otras tablas desde este modulo -->
<mant-archivosadj ptitulo="{{'Adicionar '+title}}" *ngIf="crearregistro" (evenclose)="closeadicion()" [pvaparam]="varparcaptura" [pobjeto]="objeto" [modulo_asoc]="modulo_asoc" [id_modasoc]="id_modasoc" (evenclose)="refrescar($event)" ptipomant="A"></mant-archivosadj>
<mant-archivosadj ptitulo="{{'Consultar '+title}}" *ngIf="consultarregistro" (evenclose)="closeconsulta()" [pvaparam]="varparcaptura" [pid]="varidreg" [modulo_asoc]="modulo_asoc" [id_modasoc]="id_modasoc" [pobjeto]="objeto" ptipomant="C"></mant-archivosadj>
<mant-archivosadj ptitulo="{{'Modificar '+title}}" *ngIf="editarregistro" (evenclose)="closeeditar()" [pvaparam]="varparcaptura" [pid]="varidreg" [modulo_asoc]="modulo_asoc" [id_modasoc]="id_modasoc" [pobjeto]="objeto" (evenclose)="refrescar($event)"
    ptipomant="E">
</mant-archivosadj>



<div *ngIf="cargoConfig">
    <p class="alert alert-warning" *ngIf="!segper_consultar">
        No tiene derecho para consultar registros. Contacte al Administrador
    </p>

    <div *ngIf="segper_consultar && cargoConfig">
        <div class="row">
            <div class="col-md-1">
                <!-- <i (click)="openadicion()" class="fa fa-plus-square fa-lg mantenimiento" data-toggle="tooltip" title="Click para adicionar un nuevo registro."></i> -->
                <a [href]="cleanURL(linkaddarchivo)"><strong>Adicionar</strong></a>
            </div>
            <!-- <div *ngIf="segper_adicionar" class="col-md-1">
        <a class="btn btn-primary float-md-right" [routerLink]="[retornaRuta('A'), varparcaptura]">Añadir nuevo registro</a>
      </div> -->
        </div>
        <br>
        <!-- <div class="alert alert-success" *ngIf="!enerror && resultados">
      {{message}}
    </div>
 -->
        <!-- <div> -->
        <div *ngIf="cargando" class="text-center" style="padding-top: 60px;">
            <img src="assets/spinner.gif">
        </div>
        <div *ngIf="resultados">
            <kendo-grid [data]="gridData" [rowClass]="rowCallback" [ngStyle]="{'background-color':'#e2eef5'}" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter" [sortable]="true" [pageable]="false" [filterable]="true" (dataStateChange)="dataStateChange($event)"
                (edit)="editClick($event)">
                <kendo-grid-messages groupPanelEmpty="Drag here to group" noRecords="No se encontraron items para mostrar." filterContainsOperator="Contiene" filterEndsWithOperator="Termina con" filterAfterOperator="es posterior" filterAfterOrEqualOperator="es posterior o igual a"
                    filterBeforeOperator="es anterior" filterBeforeOrEqualOperator="es anterior o igual a" filterBooleanAll="Todo" filterClearButton="Limpiar" filterEndsWithOperator="Termina con" filterEqOperator="Es igual a" filterFilterButton="Filtro" filterGtOperator="es mayor que"
                    filterGteOperator="es mayor o igual que" filterIsEmptyOperator="Está vacío" filterIsFalse="Falso" filterIsNotEmptyOperator="no está vacío" filterIsNotNullOperator="no es nulo" filterIsNullOperator="es nulo" filterIsTrue="Verdadero" filterLtOperator="es menor que"
                    filterLteOperator="es menor o igual que" filterNotContainsOperator="No contiene" filterNotEqOperator="No es igual a" filterStartsWithOperator="comienza con" groupPanelEmpty="Gupo Vacío" NoRecords="sin registros" pagerFirstPage="Primera página"
                    pagerLastPage="Ultima" pagerNextPage="Siguiente" pagerPreviousPage="Anterior" pagerPage="Página" pagerOf="de" pagerItems="ítems" pagerItemsPerPage="ítems por página">
                </kendo-grid-messages>
                <!-- <kendo-grid-column field="tipo_act" title="Tipo" [sortable]="true">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{ retornaTipo(dataItem.tipo_act) }}
                    </ng-template>
                </kendo-grid-column> -->
                <kendo-grid-column field="fecha_crea" title="Publicado" [sortable]="true">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{ dataItem.fecha_crea | date:'dd.MM.yyyy HH:mm' }}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="upublica" title="Publica" [sortable]="true">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{ dataItem.upublica }}
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="descripcion" title="descripcion" [sortable]="true">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{ dataItem.descripcion }}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="link" title="Link" [sortable]="true">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <!-- <a href="{{'/archivos/docs/'+dataItem.link }}">{{dataItem.link}}</a> -->
                        <a target="_blank" href="{{linkbasearch+dataItem.link }}">{{dataItem.link}}</a>
                    </ng-template>
                </kendo-grid-column>

                <!-- <div *ngFor="let field of camposv">
                    <kendo-grid-column *ngIf="field.campo !='fecha_ven' && field.campo !='prioridad'" field="{{field.campo}}" title="{{field.titulo}}" [sortable]="true">
                    </kendo-grid-column>
                    <kendo-grid-column *ngIf="field.campo =='fecha_ven'" field="fecha_ven" title="Vencimiento" [sortable]="true">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            {{ dataItem.fecha_ven | date:'dd.MM.yyyy' }}
                        </ng-template>
                    </kendo-grid-column>
                </div> -->
                <kendo-grid-command-column title="Opciones" width="120">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <i *ngIf="segper_consultar && confirmado != rowIndex" (click)="openconsulta(dataItem)" class="fa fa-eye fa-lg manteconsulta" data-toggle="tooltip" title="Click para consultar el registro."></i>
                        <i *ngIf="segper_modificar && confirmado != rowIndex" (click)="openeditar(dataItem)" class="fa fa-edit fa-lg mantenimiento" data-toggle="tooltip" title="Click para modificar el registro."></i>
                        <i *ngIf="segper_eliminar && confirmado != rowIndex" (click)="borrarConfrma(rowIndex)" class="fa fa-trash fa-lg manteelimina" data-toggle="tooltip" title="Click para eliminar el registro."></i>

                        <button *ngIf="segper_eliminar && confirmado == rowIndex" kendoGridRemoveCommand (click)="onDeleteTabla(dataItem)" style="background-color: #dd4b39; color: #ffffff;">Quiero eliminarlo</button>
                        <button *ngIf="segper_eliminar && confirmado == rowIndex" kendoGridRemoveCommand (click)="cancelarConfirma(rowIndex)" style="background-color: #3c8dbc; color: #ffffff;">Cancelar</button>

                    </ng-template>
                </kendo-grid-command-column>

            </kendo-grid>
        </div>
        <kendo-dialog title="Resultado." *ngIf="eliminoreg" (close)="close()">
            <h3 style="margin: 30px; text-align: center;">Se elimino el registro satisfactoriamente.</h3>

            <kendo-dialog-actions>
                <button kendoButton (click)="close()" [primary]="true">Cerrar.</button>
            </kendo-dialog-actions>
        </kendo-dialog>
    </div>
</div>